.head_bar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 16px;
  padding: 16px;
  border-bottom: 1px solid #b7b7b7;

  h1 {
    font-weight: bold;
    span {
      font-weight: 200;
    }
  }

  .side_menu {
    display: flex;
    align-items: center;

    p {
      margin-right: 16px;
    }
  }
}
